<% provide(:title, 'Specialist in data vacatures') %>
<% meta description: (t :description_about) %>
<% meta keywords: ['datavacature', 'over ons', 'specialist', 'data vacatures', 'vacature', 'data specialist', 'data analist', 'webanalist'] %>
<div class="box l-generic l-about">    
	<h1 class="title-blue">Specialist in data vacatures</h1>
	<p>
		<em>Datavacature.nl is de vacaturesite en specialist in data vacatures voor data analisten, webanalisten en big data experts.
	  </em>
	</p>
	<h2>Een data-driven maatschappij</h2>
	<p>
		Analytics &amp; big data, je kan vandaag de dag niet meer om deze termen heen. De
    explosie aan data gegenereerd door onze (digitale) activiteiten houdt bedrijven in alle
    industrieën bezig. Het valt niet te ontkennen dat onze maatschappij in elke opzicht meer
    <strong>‘data-driven’</strong> wordt. Van het voorspellen van consumentengedrag en economische
    trends tot aan het gebruik voor medische doeleinden, het correct verwerken, analyseren
    en toepassen van zowel grote (en minder grote) hoeveelheden data biedt vele
    mogelijkheden. 
  </p>
	<h2>Toenemende vraag naar data specialisten</h2>
	<p>
		Deze aanzienlijke toename aan beschikbare data zal betekenen dat de vraag naar data
    specialisten steeds verder zal toenemen. Steeds meer bedrijven zijn op zoek naar 
    onder andere data analisten, webanalisten, big data specialisten maar ook data gedreven
    marketing experts.
  </p>
  <h2>Vacatureplatform voor data specialisten</h2>
  <p>
  	Datavacature.nl is een vacatureplatform specifiek gericht op vacatures voor data
    specialisten op het gebied van (web) analytics, big data, software ontwikkeling,
    databases, data-driven marketing en aanverwante technologieën. Vind en plaats
    eenvoudig vacatures voor alle data gerelateerde functies.
  </p>

  <h2>Leer omgaan met data en leer data-science, web-analytics, data visualisatie en meer.</h2>
  <p>
    Start je carrière als data specialist en leer omgaan met de belangrijkste tools en technieken op het gebied van onder andere big data, web-analytics, data-visualisatie en machine learning. 
   </p>
   <%= link_to 'Bekijk ons overzicht van verschillende online cursussen', courses_path %>

  <h2>Plaats of zoek eenvoudig data vacatures</h2>
  <p>
  	Geïnteresseerd en op zoek naar een carrière als data-analist in dit zeer snel
groeiende vakgebied? Bezoek onze <%= link_to 'vacaturepagina', jobs_path %>. Meer weten over analytics, big
data en aanverwante onderwerpen? Bekijk onze <%= link_to 'nieuws en artikelen', topics_path %> pagina.
  </p><br>
  <p class="text-center">
  <%= image_tag('https://s3.eu-central-1.amazonaws.com/datavacature-img/marketing_small.png', alt: 'De vacaturesite voor data specialisten') %>
  </p>
</div>
  