<% provide(:title, 'Veelgestelde vragen') %>
<% meta description: 'Veelgestelde vragen' %>
<% meta keywords: ['datavacature', 'vragen', 'data-analist', 'data vacatures', 'data specialist', 'webanalist'] %>

<div class="panel panel-large">
  <div class="panel-heading panel-heading-default">
    <h1>Veelgestelde vragen</h1>
  </div>
  <div class="panel-body">
  </div>
</div>