<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body style="font-family:sans-serif">
		
			<p><%= (t :jobapplication_confirm_1) %></p>

			<p><strong><%= @jobapplication.jobtitle %> | <%= @jobapplication.jobcompany %></strong></p>

			<p>www.data-vacatures.nl</p>
	</body>
</html>