<% provide(:title, 'Nieuws en Artikelen') %>
<% meta description: (t :description_topics) %>
	<div class="l-page-header pageheader-background-blue">
		<div class="container-default">
			<h1>Onderwerpen</h1>
		</div>
	</div>
		
  <div class="container-default l-topic-index">  
			<% @topics.each do |topic| %>
				<div class="media attribution media-topic-index">
					<%= link_to (image_tag topic.avatar.url(:medium), class: "img img-medium img-link"), topic %>
						<div class="media-body">
							<h2><%= link_to topic.name, topic, class: "s-hover-link title-blue" %></h2>
							<span class="timestamp"><%= topic.topic_followers.count %> 
								<%= (t :topics_index_followers) %>
							</span>

						</div>
				</div>
			<% end %>
	</div>


