<% provide(:title, (t :users_index_title)) %>

<div class="box l-user-index">
	<h1 class="text-center"><%= (t :users_index_title) %></h1><hr>
		<%#= will_paginate%>
		<ul class="ul-user-index">
			<%= render @users %>
		</ul>
	<%= paginate @users %>
</div>

